/* Styles go here */
body{
  text-align: center;
  max-width: 30em;
  margin: 10em auto;
}

ul{
  list-style: none;
}

p{
  font-style: italic;
}

.box{
  background: #aaa;
  padding: 5px;
  color: #444;
}


@media (min-width:20em) { 
  /* smartphones, iPhone, portrait 480x320 phones */
  h1{
    color: red;
  }
}

@media (min-width:30.063em) { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  h1{
    color: blue;
  }
}

@media (min-width:40.063em) { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  h1{
    color: green;
  }
}

@media (min-width:60.063em) { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  h1{
    color: orange;
  }
}

@media (min-width:64.063em) { 
  /* big landscape tablets, laptops, and desktops */ 
  h1{
    color: purple;
  }
}

@media (min-width:80.063em) { 
  /* hi-res laptops and desktops */ 
  h1{
    color: black;
  }
}

